body{
  background-color: #d6e2f0;
  font-family: "Outfit";
  font-weight: 700;
}
h1 {
  font-weight: bold;
  padding: 5%;
}

 p{
   color: #7b879d;
   font-weight: 400;
   margin: auto 10% 20%;
   line-height: 1.5;
   font-size: 1rem;
 }

 .box-big{
   background: #ffffff;
   text-align: center;
   /*padding: 1%;*/
   border-radius: 5%;
   margin: 7% auto;
   /*width: 20%;*/
   box-shadow: #7b879d 10px 10px 50px;
 }

.crop{
  width: 100%;
  padding: 5%;
  border-radius: 10%;
}

.container {
  padding: 5% 0;
}
